﻿@page
@model Exam12019.Pages.Auth.LoginModel
@{
}

<form method="post">
    <label asp-for="UserData.username"></label>
    <input asp-for="UserData.username"/>
    <span asp-validation-for="UserData.username"></span>

    <label asp-for="UserData.password"></label>
    <input asp-for="UserData.password"/>
    <span asp-validation-for="UserData.password"></span>

    <button type="submit">Log In</button>
</form>