﻿@page "{id:Guid}"
@model Exam12019.Pages.DeleteModel
@{
}

<form method="post">
    <div>
        <label>Apakah anda yakin untuk menghapus @Model.itemName?</label>
    </div>

    <button type="submit">Delete</button>
</form>