﻿@page
@model IndexModel
@{
}

<a href="@Url.Page("/Auth/Login")">Log In</a><br />
<a href="@Url.Page("./RegisterUser")">Register</a>

<form method="post">
    <div>
        <label asp-for="searchID"></label>
        <input asp-for="searchID" />
        <span asp-validation-for="searchID"></span>
    </div>
    <div>
        <label asp-for="data.reservationUserName"></label>
        <input asp-for="data.reservationUserName" />
        <span asp-validation-for="data.reservationUserName"></span>
    </div>
    <div>
        <label asp-for="data.email"></label>
        <input asp-for="data.email"/>
        <span asp-validation-for="data.email"></span>
    </div>
    <button type="submit">Reserve</button>
</form>
<br />
<table border="1">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @item.restaurantID
                </td>
                <td>
                    @item.restaurantName
                </td>
                <td>
                    @item.restaurantAddress
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<table border="1">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Restaurant Name
            </th>
            <th>
                Restaurant Address
            </th>
            <th>
                Reservation Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReserveItem)
        {
            <tr>
                <td>
                    @item.reservationID
                </td>
                <td>
                    @item.reservationUserName
                </td>
                <td>
                    @item.email
                </td>
                <td>
                    @item.reservationRestaurantName
                </td>
                <td>
                    @item.reservationRestaurantAddress
                </td>
                <td>
                    @item.reservationTime
                </td>
            </tr>
        }
    </tbody>
</table>