﻿@page
@model Exam12019.Pages.RegisterUserModel
@{
}

<form method="post">
    <div>
        <label asp-for="userData.username"></label>
        <input asp-for="userData.username" />
        <span asp-validation-for="userData.username"></span>
    </div>

    <div>

        <label asp-for="userData.password"></label>
        <input asp-for="userData.password"/>
        <span asp-validation-for="userData.password"></span>
    </div>

    <button type="submit">Register</button>
</form>