﻿@page "{id:Guid}"
@model Exam12019.Pages.UpdateModel
@{
}

<form method="post">
    <div>
        <label asp-for="item.restaurantName"></label>
        <input asp-for="item.restaurantName" />
        <span asp-validation-for="item.restaurantName"></span>
    </div>

    <div>
        <label asp-for="item.restaurantAddress"></label>
        <input asp-for="item.restaurantAddress" />
        <span asp-validation-for="item.restaurantAddress"></span>
    </div>

    <button type="submit">Update</button>
</form>