﻿@page
@model Exam12019.Pages.ViewModel
@{
}

<a href="@Url.Page("./Create")">Register Restaurant</a>
<br />
<a href="@Url.Page("/Auth/Logout")">Log out</a>

<table border="1">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th colspan="2">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @item.restaurantID
                </td>
                <td>
                    @item.restaurantName
                </td>
                <td>
                    @item.restaurantAddress
                </td>
                <td>
                    <a href="@Url.Page("./Update", new { id = item.restaurantID})">Update</a>
                    <a href="@Url.Page("./Delete", new { id = item.restaurantID})">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
